{%  extends "::base.html.twig" %}
    {% block stylesheets %}
        {{ parent() }}{# appel des fichiers css parent#}
            <link rel="stylesheet" href="{{ asset('css/style.css')}}"/>
    {% endblock %}
	{% block body%}
    {% block header %} 
		<div class="row">
			<div class="col col-md-4">
				<img class="img-responsive" src="{{ asset('images/logo.jpg')}}" alt="logo Afrique infocite"/>
			</div>
			<div class="col col-md-8">
				<a class="btn btn-social-icon btn-twitter pull-right">
					<span class="fa fa-twitter-square fa-3x"></span>
				</a>
				<a class="btn btn-social-icon btn-facebook pull-right">
					<span class="fa fa-facebook-square fa-3x"></span>
				</a>
			</div>
 
			</div>
		</div>
        {% include "AdminBundle:menu:menu.html.twig" %}
    {% endblock header %}
			<div class="row">
				<div class="col col-lg-12">
					{% block content %} 
				 {% endblock content %}
				</div>
			</div>
{% endblock body %}