{%  extends "ApplicationBundle::layout.html.twig" %}
{% block navlef %} 
       {% include "ApplicationBundle:Actualite:menu-actualite.html.twig" %}     
{% endblock navlef %}

{% block navright %} 
    <div class = 'row'>
		<div class = 'col-sm-12'>
		
	{% if   assembles|length >0    %}
 
        {% for assemble in assembles %}
		   <p>
			 Titre:{{ assemble.titre }}<br/>
			 Date:{{ assemble.date |date('d/m/Y') }}<br/>
			<a href="{{app.request.basepath}}/uploads/fichierassemble/{{ assemble.piecejoint }}">
				<span class="btn btn-info btn-sm glyphicon glyphicon-download">Télécharger</span>
			</a>
			<hr/>
		</p>
       {%  endfor %}
    {% else %}
	
		<div class = 'alert alert-info text-center'> Aucune assemblée  trouv&eacute;! </div>
	
    {% endif %}
	 </div>
	</div>
{% endblock navright %}

