<div class="panel panel-info"> 
 
  <!-- La classe .panel-heading permet de mettre en forme le texte de l’en-tête-->
  <div class="panel-heading"><strong>Actualités</strong></div>  
	<ul class="list-group">
		<a href="{{path('actualite_article')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
			Articles
		</a>
		<a href="{{path('actualite_video')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
		
			Vidéos
		</a>
		<a href="{{path('actualite_reunion')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
			Réuinions du Bureau
		</a>
		<a href="{{path('actualite_assemble')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
			Assemblée générale
		</a>
		<a href="">&nbsp;</a>
	</ul>	
</div>