<div class="panel panel-info"> 
 
  <!-- La classe .panel-heading permet de mettre en forme le texte de l’en-tête-->
  <div class="panel-heading"><strong>Témoignages</strong></div>  
	<ul class="list-group">
		<a href="{{path('temoignage_benevole')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
			Bénévoles
		</a>
		<a href="{{path('temoignage_membre')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
		
			Membres du bureau
		</a>
		<a href="{{path('temoignage_partenaire')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
			Parténaires
		</a>
		<a href="">&nbsp;</a>
	</ul>	
</div>