{%  extends "ApplicationBundle::layout.html.twig" %}
{% block navlef %} 
       {% include "ApplicationBundle:Association:menu-association.html.twig" %}     
{% endblock navlef %}
{% block navright %} 
     <div class = 'row'>
		<div class = 'col-xs-12'>
			<p class="bg-info">Notre histoire</p>
			<p style="lign-height:14px;">
				L'association Afrique infocité dont le fondateur est Mohamed DIABY a
				été crée en septembre 2014 dans la ville de Saint Maurice en France.
				<br/><br/>
				Sa création s'incrit dans le contexte d'une Afrique dans laquelle 
				les populations (des grandes villes) ont accès à l'internet 
				(parfois à la 4G) contrairement aux administrations publiques
				qui sont encore très en retard sur la digitalisation.
				Ce qui explique que les populations utilisent l'internet
				essentiellement de façon ludique.
				<br/><br/>
				Fort de ce constat, dès 2005 à Abidjan (Côte d'Ivoire),
				un groupe d'étudiant entammera la réflexion qui aura pour
				principal objectif d'automatiser les adiministrations publiques :
				le <span class="text-danger">E-Administration</span>.
				<br/><br/>
				Ainsi la recontre de différents talents d'origines diverses
				(France, Niger, Cameroun, Guinée, Burkina Faso, Sénégal, 
				et Côte d'Ivoire) permettra d'aboutir à la création d'Afrique Infocité.
				<br/><br/>

				Les objectifs définis par l'assemblée générale de septembre 2014 sont : 
				
				- <span class="text-danger">L'automatisation des administrations publiques: l’e-administration. </span> 
				-<span class="text-danger"> Créer une plateforme d’échange entre les startups Africaines et Française.</span> 
				<br/><br/>
				<br/><br/>
				Afrique infocité est une association de loi 1901 dont le numéro 
				R.N.A est : W941009169 est paru au journal officiel de 29/09/2014 
				(N° de parution :20140039)
            </p>
		</div>
	</div>
{% endblock navright %}

