{%  extends "ApplicationBundle::layout.html.twig" %}
{% block navlef %} 
       {% include "ApplicationBundle:Association:menu-association.html.twig" %}     
{% endblock navlef %}
{% block navright %} 
<div class = 'row'>
	<div class = 'col-xs-12'>
		<p class="bg-info">Nos Projets</p>
			<p>
				Soucieux du développement des services administratifs en Afrique,
				Afrique infocité s’investit à contribuer à ce développement.
			</p>
			<br/>
			<p>
				Nous vous présentons l’un de nos projets en cours de réalisation :
				<span style="color:red;"> ANYAMA 2.0.</span>
			</p>
			<p>
				Anyama est une ville de la COTE D’IVOIRE située à 10 km 
				d’Abidjan en coopération avec Pontault Combault depuis 1988. 
			</p>
			<p>
				<span style="color:red;">PRESENTATION D’ANYAMA 2.0</span>
			</p>
			<b><u>Coopération entre Anyama et Pontault Combault</u></b>  
			<p>
				Construit en 1988, le jumelage entre la ville de Pontault Combault et Anyama,
				 se caractérise par un grand sens de l’amitié et surtout par la volonté d’une
				 coopération basée sur le partage des valeurs respectives. 
				Dans le cadre de cette coopération, en 1989, la mairie de Pontault Combault 
				a reçu des fonctionnaires de la mairie d’Anyama dans le cadre d’un stage 
				« Etat civil et registres municipaux ». 
				Cette coopération connaitra un frein du fait de la guerre en Côte d’Ivoire. 
				Aujourd’hui les associations <span style="color:red;">ECAP (Echange Coopération Anyama Pontault Combault)</span> 
				et <span style="color:red;"> Afrique Infocité </span> œuvrent pour redynamiser cette coopération.
			</p>
			<p>
				<b><u>Objectif du projet :</u></b> 
			</p>
			<p>
				Depuis le stage de coopération de 1989, la mairie de Pontault Combault a connu
				 une grande révolution liée aux technologies de l’information et de la communication.
				 L’objectif du projet Anyama 2.0, est de permettre à la ville d’Anyama d’entrer dans
				 l’air du numérique comme c’est le cas dans la ville de Pontault Combault.
				 <br/>
			Ce qui permettra : 
			<br/>
			-	d’offrir aux usagers de la mairie d’Anyama (des locaux, des nationaux, ou 
				de la diaspora à travers le monde) une bonne qualité de service :
				rapidité et facilité. 
			<br/>
			-	la modernisation numérique de la mairie d’Anyama, une mutualisation de
				ses ressources et de ses infrastructures, lui permettant de réaliser également 
				des gains significatifs en termes d’efficacité et d’efficience.
			</p>
	</div>
</div>
{% endblock navright %}