{%  extends "ApplicationBundle::layout.html.twig" %}
{% block navlef %} 
       {% include "ApplicationBundle:Partenaire:menu-partenaire.html.twig" %}    
{% endblock navlef %}

{% block navright %} 
     <div class = 'row'>
		<div class = 'col-sm-12'>
			<p><h1>Stratégie de partenariat</h1></p>
			<p>
				Notre objectif est de developper des partenariats avec :
			</p>
			<p style="color:#ff0000;">
				- Des Administrations publiques (Mairies ...) <br/>
				- Des entreprises ayant des projets informatiques<br/> 
				- Des Start-up à la recherche de nouveaux marchés et de compétences<br/> 
				- Des Institutions <br/>
				- Et des associations à la recherche de solutions technologiques<br/>
			</p>
		</div>
	</div>

{% endblock navright %}

