<div class="panel panel-info"> 
 
  <!-- La classe .panel-heading permet de mettre en forme le texte de l’en-tête-->
  <div class="panel-heading"><strong>Partenariat</strong></div>  
	<ul class="list-group">
		<a href="{{path('partenaire_appel_offre')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
			Appel d'offres
		</a>
		<a href="{{path('partenaire_administration')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
		
			Administrations et Institutionnels
		</a>
		<a href="{{path('partenaire_entreprise')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
			Entreprise/Startup
		</a>
		<a href="{{path('partenaire_association')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
			Association
		</a>
		<a href="">&nbsp;</a>
	</ul>	
</div>